/* global variables */
:root {
  --main-bg-color: rgb(0, 0, 0);
  --wrapper-bg-color: rgb(255, 255, 255);
  --red-color: rgb(212, 65, 65);
  --light-red: rgb(255, 110, 110);
  --light-green: rgb(133, 200, 139);
  --bright-green: rgb(108, 255, 111);
}
/* layout styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}
